 <%include ./admin_index%>
 
 <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Add a News</h4>
                </div>
                <div class="card-body">
                  <p>Add a News to the News Section</p>
                  <form action="/news/submit_add" method="GET">
                    <div class="form-group">
                      <label>Heading</label>
                      <input type="text" placeholder="News Heading" name="heading" class="form-control">
                    </div>
                    <div class="form-group">       
                     <label>Short Description</label>
                      <input type="text" placeholder="News Short Description" name="short_desc" class="form-control">
                    </div>
                    <div class="form-group">       
                     <label>Long Description</label>
                      <input type="text" placeholder="News Long Description" name="long_desc" class="form-control">
                    </div>
                    <div class="form-group">       
                      <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                  </form>
                </div>
              </div>
            </div>

 <%include ./footer%>
 